.end {
    /* background: linear-gradient(345deg, rgb(134, 1, 1), red); */
    background-image: url("/src/assets/images/coverImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content:center;
    flex-direction: column;
    animation: bounce-from-bottom 1.1s both;
    box-shadow: 0px -10px 32px black;
}

@keyframes bounce-from-bottom {
    0% {
              transform: translateY(1000px);
              animation-timing-function: ease-in;
    }
    40% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    55% {
              transform: translateY(65px);
              animation-timing-function: ease-in;
    }
    70% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    80% {
              transform: translateY(28px);
              animation-timing-function: ease-in;
    }
    90% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    95% {
              transform: translateY(8px);
              animation-timing-function: ease-in;
    }
    100% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
  }

.end h1 {
    line-height: 1.5;
  font-size: 36px;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
}

.end h4 {
    font-size: 24px;
    font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  text-shadow:
				-1px -1px 0 white,
				1px -1px 0 white,
				-1px 1px 0 white,
				1px 1px 0 white;
}

.end h4 span {
    color: red;
}



.score h1 {
    margin-top: 0;
    margin-bottom: 0;
    
}

.points {
    margin-bottom: 0;
    font-size: 18px;
    color: white
}

.score p {
    margin-top: 0;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    font-family: serif;
  text-shadow:
  -1.5px -1.5px 4px black,
  1.5px -1.5px 4px black,
  -1.5px 1.5px 4px black,
  1.5px 1.5px 4px black;
}

.end-btn {
    margin-top: 5%;
    padding: 3% 7%;
    border-radius: 50px;
    background: linear-gradient(345deg, rgb(134, 1, 1), red);
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 25px black;
    border: 0.5rem outset red;
}

.end-btn:hover {
    border: 0.5rem inset red;
    box-shadow: 0px 0px 25px rgb(91, 91, 91);
    background: linear-gradient(345deg, red, rgb(134, 1, 1));
}

.end-btn:active {
    background: rgb(134, 1, 1);
    box-shadow: 0px 0px 25px gray;
}

@media only screen and (min-width: 778px){ 
    .end {
        bottom: 5rem;
    }

    .end-btn {
        height: 50px;
    }
}