.welcome {
    /* align-items: center; */
    /* margin: auto; */
    /* margin-top: 500px; */
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    background-color: red;
    display:grid;
    place-items: center;
}

.welcome-rules-div {
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: white;
    animation: bounce-from-bottom 1.1s both;
    padding-bottom: 5%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}



@keyframes bounce-from-bottom {
    0% {
              transform: translateY(500px);
              animation-timing-function: ease-in;
    }
    40% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    55% {
              transform: translateY(65px);
              animation-timing-function: ease-in;
    }
    70% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    80% {
              transform: translateY(28px);
              animation-timing-function: ease-in;
    }
    90% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    95% {
              transform: translateY(8px);
              animation-timing-function: ease-in;
    }
    100% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
  }
/* 
@keyframes scale-in-ver-bottom {
    0% {
              transform: scaleY(0);
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
              transform: scaleY(1);
              transform-origin: 0% 100%;
      opacity: 1;
    }
  } */

.welcome-main-div {
    /* position:absolute;
    top: 50%;
    transform: translateY(-50%); */
}